
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> International pasta day </title>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>


    <img class="aboutFoto" src="/images/pasta.gif">
        <a href="/"> Home </a>

    <script src="/js/frontend.js"></script>

  </body>
</html>
