<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> International pasta day </title>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <h1> International Pasta Day </h1>


    <img class="homePasta" src="/images/world-pasta-day.jpg">

    <a class="hpLinks" href="/about"> About </a>
    <a class="hpLinks" href="/pasta"> Pasta </a>

    <script src="/js/frontend.js"></script>

  </body>
</html>
