<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> World pasta day</title>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>


    <img class="pastaFoto" src="/images/olsen-pasta.git">
    <a href="/"> Home </a>
    <a href="/about"> About </a>

    <script src="/js/frontend.js"></script>

  </body>
</html>
